.spinbox{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9999
  }
  .spin {
    display: inline-block;
    width: 64rpx;
    height: 64rpx;
  }
  .spin:after {
    content: " ";
    display: block;
    width: 46rpx;
    height: 46rpx;
    margin: 1rpx;
    border-radius: 50%;
    border: 5rpx solid #409eff;
    border-color: #409eff transparent #409eff transparent;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }